<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Base Portal</title>
    <link rel="stylesheet" href="/static/css/AdministrativeBoundaries.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    
</head>
<body>
    <div class="Accessibility-Toolbar">
        <a href="#"><i class="fas fa-home"></i></a>
        <span class="divider"></span>
        <a href="#">AB</a>
        <a href="#">A_B</a>
        <a href="#">A__B</a>
        <span class="divider"></span>
        <a href="#">A-</a>
        <a href="#">A</a>
        <a href="#">A+</a>
    </div>
   
    <div class="header-title">
        <div class="Logo-container"><img src="/static/images/Telanganalogo.png" alt="" class="Telangana_logo"></div>
        <h1>GEOSPATIAL DATA PORTAL</h1>       
    </div>

    <div class="Navigationbar-container">
        <div class="Navigationbar-items">
            
            <a href="{% url 'HomePage' %}">Home</a>
            <a href="{% url 'SpatialData' %}">Spatial Data</a>
            <!-- <a href="">Spatial Data</a> -->
            <a href="">Map Viewer </a>
            <a href="">Master Plan</a>
            <a href="{% url 'Downlaods' %}">Downlaods</a>
            <!-- <a href="">Downlaods</a> -->
            <a href="">Metadata</a>
            <a href="">Reports</a>
            <a href="">Help</a>
            <a href="">Contacts</a>
        </div>

    </div>

    <div class="grid-container">
        <div class="grids">
            <div class="grid-Left">

                <div class="layer-tree">

                    <div class="Administrative" onclick="toggleTree('adminTree',this)">
                        <i class="fa-solid fa-plus arrow"></i>
                        <span class="name">Administrative Boundaries</span>
                        <div class="iCons">
                            <i class="fa-solid fa-eye"></i>
                            <i class="fa-solid fa-download"></i>
                        </div>
                    </div>


                    <div class="children" id="adminTree">


                        <div class="child"
                            data-layer="State Boundary"
                            data-wms="http://104.233.209.179:8080/geoserver/AdminBoundarys/wms"
                            data-layername="AdminBoundarys:State_Boundary"> 
                            
                            <span>State Boundary</span>
                            <div class="iCons">
                                <i class="fa-solid fa-eye-slash" onclick="Showlayer(this,'state')"></i>
                                <i class="fa-solid fa-download"></i>
                                <i class="fa-solid fa-magnifying-glass-plus" onclick="zoomToLayer('State')" title="Zoom to Layer"></i>
                            </div>
                        </div>

                         <div class="child">
                            <span>District Boundary</span>
                            <div class="iCons">
                                <i class="fa-solid fa-eye-slash" onclick="Showlayer(this,'District')"></i>
                                <i class="fa-solid fa-download"></i>
                                <i class="fa-solid fa-magnifying-glass-plus" onclick="zoomToLayer('District')" title="Zoom to Layer"></i>
                            </div>
                        </div>
                        <div class="child">
                            <span>Mandal Boundary</span>
                            <div class="iCons">
                                <i class="fa-solid fa-eye-slash" onclick="Showlayer(this,'Mandal')"></i>
                                <i class="fa-solid fa-download"></i>
                                <i class="fa-solid fa-magnifying-glass-plus" onclick="zoomToLayer('Mandal')" title="Zoom to Layer"></i>
                            </div>
                        </div>

                        <div class="child">
                            <span>Village Boundary</span>
                            <div class="iCons">
                                <i class="fa-solid fa-eye" onclick="Showlayer(this,'Village')"></i>
                                <i class="fa-solid fa-download"></i>
                                <i class="fa-solid fa-magnifying-glass-plus" onclick="zoomToLayer('Village')" title="Zoom to Layer"></i>
                            </div>
                        </div>

                         <div class="child">
                            <span>Ward Boundary</span>
                            <div class="iCons">
                                <i class="fa-solid fa-eye-slash" onclick="Showlayer(this,'Ward')"></i>
                                <i class="fa-solid fa-download"></i>
                                <i class="fa-solid fa-magnifying-glass-plus" onclick="zoomToLayer('Ward')" title="Zoom to Layer"></i>
                            </div>
                            
                        </div>

                     </div>
                     
                    </div>
                    
                </div>

             </div>

        <div class="grid-Right">
            <div id="map"></div>            
        </div>
        <div class="Map-Content">
            
            <div class="Map-Container">
                <label><input type="radio" name="mapView" value="street"  onclick="showOSM()"> Map View</label>
                <label><input type="radio" name="mapView" value="satellite"onclick="showSatellite()">Satellite Map</label>
                <label><input type="radio" name="mapView" value="terrain"onclick="showTerrain()">Terrain Map</label>
                
            </div>

            <div class="Attribute-Container">
                <div class="attribute-table" id="attr-table1">
                    
               </div>
            </div>
                      
        </div>
    
    <script src="/static/js/AdministrativeBoundaries.js"></script>

</body>