body{
    padding: 0;
    margin: 0;
}
  .Accessibility-Toolbar{
    width:100%;
    height:46px;
    background:#5a43c8;
    display:flex;
    flex-wrap:wrap;
    justify-content: right;
    gap: 20px;
    align-items: center;
  } 

.Accessibility-Toolbar a{
    color:#e3eeed;
    text-decoration:none;
    font-size:14px;
    font-weight:100;
    transition:.3s;
}

.Accessibility-Toolbar a i{
    font-size:22px;
}

.Accessibility-Toolbar a:hover{
    color:#71df45;
}

.divider{
    width:2px;
    height:28px;
    background:#fff;
    opacity:.8;
}

 .header-title{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    min-height:100px;
    padding:0 20px;
    background:#eff2f4;
} 
 .Logo-container{
    position: absolute;
    left: 20px;
    align-items: center;
    
} 
.Telangana_logo{
    width:clamp(60px,6vw,90px);
    height:auto;
    border-radius: 50px;
}
.Telangana_logo:hover{
    transform: scale(1.1);
}

.header-title h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 35px;
    margin: 0;
    text-align: center;
}

.Navigationbar-container {
    width: 100%;
    box-sizing: border-box;
    }

.Navigationbar-items {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
    background:#d3d2d7;
    /* font-size:clamp(23px,1vw,18px); */
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    z-index: 995;
}
.Navigationbar-items a{
   padding:10px 14px;
   text-decoration:none;
}

.Navigationbar-items a:hover{
    background-color: rgb(171, 174, 167);
    transition: 0.5s;
    border-radius: 0px 5px;
}
.grid-container{
    background-image: url("../images/BackGroundimage1.jpg");
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center;
    display:grid;
    width:100%;
    margin: 0%;
    padding:20px;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    min-height:calc(100vh - 211px);
    grid-template-areas: "grid-container-leftbar grid-container-rightbar";
    gap:5px;
    font-size:20px;
}
.grid-container-leftbar{
    grid-area: grid-container-leftbar;
    
}
.grid-container-rightbar{
    font-size:clamp(20px,1vw,19px);
    line-height:1.7;
    grid-area: grid-container-rightbar;
    font-family: 'Poppins', sans-serif;

}
.footer{
    background:#0b1f33;
    color:#fff;
    padding:40px 80px 20px;
}

.footer-nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    flex-wrap:wrap;
}

.footer-column{
    width:30%;
}

.footer-column h3{
    margin-bottom:15px;
    color:#4fc3f7;
}

.footer-column p,
.footer-column a{
    color:#ddd;
    text-decoration:none;
    line-height:1.8;
}

.footer-column a:hover{
    color:#4fc3f7;
}

.footer hr{
    margin:25px 0;
    border:0;
    border-top:1px solid #555;
}

.copyright{
    text-align:center;
    font-size:14px;
}

@media (max-width:992px){

.grid-container{
    grid-template-columns:1fr;
    padding:20px;
    box-sizing: border-box;
    font-size:16px;
}

.Logo-container{
    position:static;
    margin-bottom:10px;
}

.header-title{
    flex-direction:column;
}

.Navigationbar-items{
    justify-content:center;
}

.footer{
    padding:30px 20px;
}

.footer-column{
    width:100%;
}

}