body{
    padding: 0;
    margin: 0;
}
.Accessibility-Toolbar{
    width:100%;
    height:46px;
    background:#5a43c8;
    display:flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
  }

.Accessibility-Toolbar a{
    color:#e3eeed;
    text-decoration:none;
    font-size:14px;
    font-weight:100;
    transition:.3s;
}

.Accessibility-Toolbar a i{
    font-size:22px;
}

.Accessibility-Toolbar a:hover{
    color:#71df45;
}

.divider{
    width:2px;
    height:28px;
    background:#fff;
    opacity:.8;
}

.header-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background-color: #e3eeed;
}

.Logo-container{
    margin-left: 250px;
    align-items: center;
    
}
.Telangana_logo{
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 50px;

}
.header-title h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 35px;
    margin-left: 35%;

}
.Grid-container {
    margin: 0;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 700px;
    grid-template-areas: "login-container-left login-container-right";
    
}

.Grid-container-left {
    grid-area: login-container-left;
    /* border: 1px solid black;  */
}

.Grid-container-right {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    grid-area: login-container-right;
    /* border: 1px solid black;  */
}
/* Login Box */
.loginForm{
    width:380px;
    height: 480px;
    margin:50px;
    padding:35px;
    background:#ffffff;
    border-radius:12px;
    border: 1px  solid rgb(26, 26, 27);
    /* box-shadow:0 10px 25px rgba(0,0,0,0.15); */
}
.loginForm:hover{
    box-shadow: 0 20px 20px rgba(0,0,0,0.15);
}
/* Heading */
.loginForm h2{
    margin:0;
    text-align:center;
    color:#0d6efd;
    font-size:28px;
}

/* Sub Heading */
.loginForm p{
    text-align:center;
    color:#666;
    margin:10px 0 25px;
    font-size:15px;
}

/* Input Group */
.input-box{
    margin-bottom:18px;
}

/* Label */
.input-box label{
    display:block;
    font-size:15px;
    font-weight:bold;
    margin-bottom:8px;
    color:#333;
}

/* Input */
.input-box input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;
    box-sizing:border-box;
    transition:0.3s;
}

.input-box input:focus{
    outline:none;
    border-color:#0d6efd;
    box-shadow:0 0 6px rgba(13,110,253,0.3);
}

/* Remember & Forgot */
.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:20px 0;
    font-size:14px;
}

.options label{
    display:flex;
    align-items:center;
    gap:5px;
    color:#444;
}

.options a{
    text-decoration:none;
    color:#0d6efd;
    font-weight:500;
}

.options a:hover{
    text-decoration:underline;
}

/* Button */
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:6px;
    background:#0d6efd;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#084298;
    transform:translateY(-2px);
    box-shadow:0 6px 15px rgba(13,110,253,0.35);
}
.newaccount{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  
}